.card {
    padding: 14px 14px 13px;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 rgb(73 226 246 / 80%);
    background: #fff;
    margin-top: 45px;
}
.course-card-body {
    height: auto !important;
}
h4 {
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.img-thumbnail {
    max-height: 150px;
    height: 150px;
}
.page-row {
    margin: auto 0;
}
.page-col {
    background: white;
    padding: auto 0;
}