<div>
    <span><h3><b>{{#str}}assessmentlist, local_assessment{{/str}}</b></h3></span>   
</div>
<a href="{{siteurl}}/local/assessment/create_assessment.php" id="create" class="btn btn-primary">
    {{#str}} createassessment, local_assessment{{/str}}
</a>
<table class="table table-hover" id="assessment_list">
    <thead>
        <tr>
            <th scope="col">{{#str}}name, local_assessment{{/str}}</th>
            <th scope="col">{{#str}}description, local_assessment{{/str}}</th>
            <th scope="col">{{#str}}partner, local_assessment{{/str}}</th>
            <th scope="col">{{#str}}sso, local_assessment{{/str}}</th>
            <th scope="col">{{#str}}assessmentprice, local_assessment{{/str}}</th>    
            <th scope="col">{{#str}}logo, local_assessment{{/str}}</th>
            <th scope="col">{{#str}}action, local_assessment{{/str}}</th>
        </tr>
    </thead>
</table>

