<a href="{{siteurl}}/local/assessment/assessmentpartner_creation.php" id="create" class="btn btn-primary">
    {{#str}} creation, local_assessment{{/str}}
</a>
<table class="table table-hover" id="assessmentpartnerlist">
    <thead>
        <tr>
            <th scope="col">{{#str}}name, local_assessment{{/str}}</th>
            <th scope="col">{{#str}}description, local_assessment{{/str}}</th>
            <th scope="col">{{#str}}sso, local_assessment{{/str}}</th>
            <th scope="col">{{#str}}payment, local_assessment{{/str}}</th>
            <th scope="col">{{#str}}subpayment, local_assessment{{/str}}</th>
            <th scope="col">{{#str}}logo, local_assessment{{/str}}</th>
            <th scope="col">{{#str}}action, local_assessment{{/str}}</th>
        </tr>
    </thead>
</table>
